@media screen and (orientation: landscape) and (max-width: 1200px) {

  body {
    overflow-y: auto;
  }

  .gc-mitte {
    grid-template-columns: 10fr 15fr 20fr;
  }

  /* .gc-mitte_themen {
    grid-area: Themen;
  }
  .gc-mitte_situationen {
    grid-area: Aufgaben;
  }
  .gc-mitte_aktionen {
    grid-area: Aktionen;
  } */

  .video_interessetext1::before {
    content: "Variantenstudio ?" ;
  }

  .gc-spieler {
    display: grid;
    grid-template-columns: 10fr 40fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "Text V1" "Text V2" "Text V3" "Text Weiter";
    padding: 1vh;
  }

  .gc-trainer {
    display: grid;
    grid-template-columns: 10fr 40fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "Text V1" "Text V2" "Text Weiter";
    padding: 1vh;
}

.gc-entwickler {
  display: grid;
  grid-template-columns: 10fr 40fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "Text V1" "Text Weiter";
  padding: 1vh;
}

.gc-willkommentip {
  display: grid;
  grid-template-columns: 10fr 40fr;
  grid-template-rows: 1fr 5fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "icon titel" "icon text";
  padding: 1vh;
}

.Startertext {
    margin: 2vh 2vw;
  }

	#btn-themaneu::after {
		content: "Neu";
	}
	
	#btn-themaentfernen::after {
		content: "Entfernen";
	}

  #btn-aufgabenliste::after {
    content: "Aufgaben spielen";
  }

  #btn-kapitelliste::after {
    content: "lichess spielen";
  }
 #btn-import::after {
    content: "Importieren";
  }
  #btn-verbindeaufgabe::after {
    content: "Kombinieren";
  }
  #btn-trenneaufgabe::after {
    content: "Trennen";
  }
  #btn-entferneaufgabe::after {
    content: "Entfernen";
  }

	#loesungauswahl {
		display: flex;
		justify-content:space-evenly;
	}

	#loesungauswahl fieldset {
		width:45%;
	}

	.trainerfeatures button {
		width: 40%;
	}

	/* #filterauswahl {
		display: none;
	} */

	#legend-stellung::after {
		content: "Ausspielen";
	}
	#legend-aufgabe::after {
		content: "Lösen";
	}
	
	
  #l_StellungOhne::after {
    content: "Ohne Hinweise";
  }
  #l_StellungMit::after {
    content: "Mit Hinweisen";
  }
  #l-aufgabeohne::after {
    content: "Ohne Varianten";
  }
  #l-aufgabemit::after {
    content: "Mit Varianten";
  }

  .interessetext::after {
    content: "Interessierte";
  }

  .spielertext::after {
    content: "Spieler";
  }
  .trainertext::after {
    content: "Trainer";
  }
  .entwicklertext::after {
    content: "Entwickler";
  }

  #btn-spieler::after {
    content: "Aufgaben lösen";
  }
  #btn-trainer::after {
    content: "Themen und Aufgaben";
  }
  #btn-entwickler::after {
    content: "Protokoll und Enginekommandos";
  }

  .KomfortButton {
    width: 80%;
    margin: 1vh auto;
  }
}
