@media screen and (orientation: landscape) and (max-width: 1200px) {

  body {
    overflow-y: auto;
  }

  .gc-mitte {
    grid-template-columns: 10fr 15fr 20fr;
  }

  /* .gc-mitte_themen {
    grid-area: Themen;
  }
  .gc-mitte_aufgaben {
    grid-area: Aufgaben;
  }
  .gc-mitte_aktionen {
    grid-area: Aktionen;
  } */

  .video_interessetext1::before {
    content: "Schachstudio ?" ;
  }

  .gc-spieler {
    display: grid;
    grid-template-columns: 10fr 40fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "Text V1" "Text V2" "Text V3" "Text Weiter";
    padding: 1vh;
  }

  .gc-trainer {
    display: grid;
    grid-template-columns: 10fr 40fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "Text V1" "Text V2" "Text Weiter";
    padding: 1vh;
}

.gc-entwickler {
  display: grid;
  grid-template-columns: 10fr 40fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "Text V1" "Text Weiter";
  padding: 1vh;
}

  .Startertext {
    margin: 2vh 2vw;
  }

	#btn_ThemaNeu::after {
		content: "Neu";
	}
	
	#btn_ThemaEntfernen::after {
		content: "Entfernen";
	}
	
  #btn_lichesskapitel::after {
    content: "lichess spielen";
  }
 #btn_Import::after {
    content: "Importieren";
  }
  #btn_VerbindeAufgabe::after {
    content: "Kombinieren";
  }
  #btn_TrenneAufgabe::after {
    content: "Trennen";
  }
  #btn_EntferneAufgabe::after {
    content: "Entfernen";
  }

	#LoesungAuswahl {
		display: flex;
		justify-content:space-evenly;
	}

	#LoesungAuswahl fieldset {
		width:45%;
	}

	.trainerfeatures button {
		width: 40%;
	}

	#Filterauswahl {
		display: none;
	}

	#legend_Stellung::after {
		content: "Ausspielen";
	}
	#legend_Aufgabe::after {
		content: "Lösen";
	}
	
	
  #l_StellungOhne::after {
    content: "Ohne Hinweise";
  }
  #l_StellungMit::after {
    content: "Mit Hinweisen";
  }
  #l_AufgabeOhne::after {
    content: "Ohne Varianten";
  }
  #l_AufgabeMit::after {
    content: "Mit Varianten";
  }

  .interessetext::after {
    content: "Interessierte";
  }

  .spielertext::after {
    content: "Spieler";
  }
  .trainertext::after {
    content: "Trainer";
  }
  .entwicklertext::after {
    content: "Entwickler";
  }

  #btn_Spieler::after {
    content: "Aufgaben lösen";
  }
  #btn_Trainer::after {
    content: "Themen und Aufgaben";
  }
  #btn_Entwickler::after {
    content: "Protokoll und Enginekommandos";
  }

  .KomfortButton {
    width: 80%;
    margin: 1vh auto;
  }
}
